<%= content_tag :div, link_to('New Product', new_product_path, class: 'col-md-12'), class: 'row' %>
<div class="row">
  <% @products.each do |product| %>
      <div class="col-md-3">
        <%= link_to(product.name, product_path(product)) %>
        <%= product.description %>
        <%= product.price_in_cents %>
      </div>
  <% end %></div>
